#cs-placeholder {
  visibility: hidden;
}

.cs-carousel {
  max-width: 1280px;
  position: absolute;
  top: 0;
}

.cs-card-content {
	position: relative;
	width: 100%;
	height: 423px;
	background-repeat: no-repeat;
	background-size: 100%;
}

.cs-card-nav-btn:hover {
	cursor: pointer;
}

.cs-nav-disabled {
	display: none !important;
}

.cs-nav-disabled:hover {
	cursor: default !important;
}

.owl-controls .owl-prev, .owl-controls .owl-next {
	position: absolute;
	top: 0;
	width: 12%;
	max-width: 90px;
  	height: 100%;
  	opacity: 0;
  	background-color: lightgrey;
    border-radius: 10px;
    background-position: center center;

  	-webkit-transition: opacity 500ms ease-out;
    -moz-transition: opacity 500ms ease-out;
    -o-transition: opacity 500ms ease-out;
    transition: opacity 500ms ease-out;
}

.cs-carousel:hover .owl-controls .owl-prev {
	opacity: 0.4;
}

.cs-carousel:hover .owl-controls .owl-next {
	opacity: 0.4;
}

@media (max-width: 768px) and (min-width: 0px)  {
  .owl-controls .owl-prev {
      opacity: 0.4;
  }
  
  .owl-controls .owl-next {
      opacity: 0.4;
  }
}

.owl-controls .owl-prev {
	left: 0;
}

.owl-controls .owl-next {
	right: 0;
}

.owl-prev:hover {
	opacity: 0.7 !important;
}

.owl-next:hover {
	opacity: 0.7 !important;
}

.owl-prev {
	background-image: url('https://dl.dropboxusercontent.com/u/213392662/DUPressCarousel/dependencies/chevron-left.png');
	background-repeat: no-repeat;
	background-size: 50%;
}

.owl-next {
	background-image: url('https://dl.dropboxusercontent.com/u/213392662/DUPressCarousel/dependencies/chevron-right.png');
	background-repeat: no-repeat;
	background-size: 50%;
}

.cs-caption-text {
	padding: 2% 5%;
}